@import url("https://fonts.googleapis.com/css2?family=Croissant+One&family=Lato:wght@400;700;900&family=Montserrat:ital,wght@1,300&family=Roboto:wght@400;700&family=Sen&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-nav {
  background-color: #fa8322;
  border-bottom: #00000077 solid 10px;
}

.logo {
  width: 160px;
}
.navbar-nav .nav-link {
  position: relative;
  text-decoration: none;
  margin: 15px;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  padding: 10px;
}

.navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  height: 5px;
  width: 0;
  background-color: #865716;
  transition: width 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
  color: #9b6315;
}

.navbar-nav .nav-link:hover::after {
  width: 100%;
}
/* aaaaaaaaaaaaaaaaaaaaaaaaaaabody */
.main {
  padding: 0;
  margin-bottom: 20px;
  font-family: "Croissant One", cursive;
}
.banner {
  height: 50vh;
  background-image: url("../assets/images/imagen-background.jpg");
  background-size: cover;
  padding: 0;
}
.subtitulo {
  color: #865716;
}
.responsive-img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
.img-cont {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .ciudad-img {
    width: 100%;
    height: 35vh;
    object-fit: cover;
    transition: transform 1s ease-in-out;
  }

  .texto {
    position: absolute;
    top: 0;
    left: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    color: #ffffff;
    font-size: 2rem;
  }
}
.img-cont:hover .ciudad-img {
  filter: blur(4px);
}
.img-cont:hover .texto {
  opacity: 1;
}
.boton-whatsapp {
  width: 100px;
  height: 100px;
  position: fixed;
  bottom: 100px;
  right: 30px;
}
.whatsapp-logo {
  width: 100px;
  height: 100px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.text-area {
  height: 150px;
}
.carousel-item img {
  height: 500px;
  object-fit: cover;
}

/* FOOOOOOOOOOTER */
.footer-contenedor-logos {
  margin-bottom: 50px;
  .footer-ancla {
    text-decoration: none;
    color: #fa8322;
  }
}
.footer-logo {
  color: #fff;
  font-size: 25px;
  height: 20px;
  &:hover {
    color: #9b631560;
  }
}
