/* variables */
/* colores */
/* fuentes */
@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Croissant+One&family=Lato:wght@400;700;900&family=Montserrat:ital,wght@1,300&family=Roboto:wght@400;700&family=Sen&display=swap");
/* variables */
/* colores */
/* fuentes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-nav {
  background-color: #fa8322;
  border-bottom: rgba(0, 0, 0, 0.4666666667) solid 10px;
}

.logo {
  width: 100px;
}

.titulo {
  font-family: "Croissant One", cursive;
}

.navbar-nav .nav-link {
  position: relative;
  text-decoration: none;
  margin: 15px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  padding: 10px;
}
.navbar-nav .nav-link.active {
  color: #000000;
}
.navbar-nav .nav-link.active::after {
  width: 100%;
}
.navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  height: 5px;
  width: 0;
  background-color: #865716;
  transition: width 0.3s ease-in-out;
}
.navbar-nav .nav-link:hover {
  color: #9b6315;
}
.navbar-nav .nav-link:hover::after {
  width: 100%;
}

.footer-contenedor-logos {
  margin-bottom: 50px;
}
.footer-contenedor-logos .footer-ancla {
  text-decoration: none;
  color: #fa8322;
}

.footer-logo {
  color: #fff;
  font-size: 25px;
  height: 20px;
}
.footer-logo:hover {
  color: rgba(43, 26, 1, 0.6078431373);
}

.main {
  padding: 0;
  margin-bottom: 20px;
  font-family: "Agbalumo";
  overflow-x: hidden;
}

.banner {
  height: 50vh;
  background-image: url("../assets/images/imagen-background.jpg");
  background-size: cover;
  padding: 0;
}

.subtitulo {
  color: #865716;
}

.responsive-img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.img-cont {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.img-cont:hover .ciudad-img {
  filter: blur(4px);
}
.img-cont:hover .texto {
  opacity: 1;
}
.img-cont .ciudad-img {
  width: 100%;
  height: 35vh;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 1s ease-in-out;
}
.img-cont .texto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  color: #ffffff;
  font-size: 2rem;
}

.boton-whatsapp {
  width: 70px;
  height: 70px;
  position: fixed;
  bottom: 70px;
  right: 30px;
}
.boton-whatsapp .whatsapp-logo {
  width: 70px;
  height: 70px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.text-area {
  height: 150px;
}

.carousel-item img {
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.parrafo {
  font-family: "Agbalumo";
}

.texto {
  font-family: "Croissant One", cursive;
}

.formulario {
  background-color: #e49528;
  margin-bottom: 20px;
  padding: 20px;
}

.submit-buttom {
  background-color: rgb(1, 146, 1);
  color: #ffffff;
}
.submit-buttom:hover {
  background-color: rgb(1, 98, 1);
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .boton-whatsapp {
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 100px;
    right: 30px;
  }
  .boton-whatsapp .whatsapp-logo {
    width: 100px;
    height: 100px;
  }
}/*# sourceMappingURL=index.css.map */