/* variables */

/* colores */
$naranja-principal: #fa8322;
$naranja-secundario: #865716;
$negro: #000000;

/* fuentes */

$montserrat: "Montserrat", sans-serif;
$cursiva: "Croissant One", cursive;
$cursiva-body: "Agbalumo";
