@import "variables.scss";
@import "header.scss";
@import "footer.scss";
@import "mixins.scss";

.main {
  padding: 0;
  margin-bottom: 20px;
  font-family: $cursiva-body;
  overflow-x: hidden;
}

.banner {
  height: 50vh;
  background-image: url("../assets/images/imagen-background.jpg");
  background-size: cover;
  padding: 0;
}

.subtitulo {
  color: #865716;
}

.responsive-img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.img-cont {
  position: relative;
  @include size-per;
  overflow: hidden;

  &:hover {
    .ciudad-img {
      filter: blur(4px);
    }

    .texto {
      opacity: 1;
    }
  }

  .ciudad-img {
    width: 100%;
    height: 35vh;
    object-fit: cover;
    transition: transform 1s ease-in-out;
  }

  .texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    color: #ffffff;
    font-size: 2rem;
  }
}

.boton-whatsapp {
  width: 70px;
  height: 70px;
  position: fixed;
  bottom: 70px;
  right: 30px;

  .whatsapp-logo {
    width: 70px;
    height: 70px;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.text-area {
  height: 150px;
}

.carousel-item img {
  height: 500px;
  object-fit: cover;
}
.parrafo {
  font-family: $cursiva-body;
}
.texto {
  font-family: $cursiva;
}
.formulario {
  background-color: #e49528;
  margin-bottom: 20px;
  padding: 20px;
}
.submit-buttom {
  background-color: rgb(1, 146, 1);
  color: #ffffff;
  &:hover {
    background-color: rgb(1, 98, 1);
    color: #ffffff;
  }
}
@media screen and (min-width: 768px) {
  .boton-whatsapp {
    @include size;
    position: fixed;
    bottom: 100px;
    right: 30px;

    .whatsapp-logo {
      @include size;
    }
  }
}
